<div class="stat-notices__inner">

    <div class="btn-list">
        <button class="btn -grey {{filterType}}" data-btn-type="featured" {{action "filterByType" "All"}}>All</button>
        <button class="btn -grey {{filterType}}" data-btn-type="planning" {{action "filterByType" "Planning"}}>Planning</button>
        <button class="btn -grey {{filterType}}" data-btn-type="licensing" {{action "filterByType" "Licensing"}}>Licensing</button>
    <!--    <button class="btn -grey" data-btn-type="categories" {{action "filterByType" "Other"}}>Other</button>-->
        
        <div class="stat-notices__filter-place-search">
            {{
                select-2
                
                content=places
                optionLabelPath="NAME1"
                value=filterPlace
                
                placeholder="Search for a place"
                typeaheadSearchingText="Searching places"
                typeaheadNoMatchesText="No places found for '%@'"
                typeaheadErrorText="Loading failed: %@"
                minimumInputLength=3
                query="findPlaces"
            }}
        </div>
        
        {{#if filterPlace}}
            <button class="btn -grey" data-btn-type="location" {{action "clearPlace"}}>X {{filterPlace.NAME1}}</button>
        {{/if}}
        
        <button class="btn -blue" {{action "notifyMe"}}>Notify Me</button>
    </div>


    {{#ui/fullscreen-popup visible=notifyMeVisible classes="stat-notices__notify-me-popup"}}
        <h3 class="-gamma">Your current search...</h3>
        <p>Notice Type: {{filterType}}</p>
        {{#if filterPlace}}<p>Location: {{filterPlace.NAME1}}</p>{{/if}}
        <p>Please enter your email address: {{input value=userEmail placeHolder="Your email" }}</p>
        {{#if userEmail}}
            <button class="btn" {{action "notifyMeSubmit"}}>Register</button>
        {{/if}}
    {{/ui/fullscreen-popup}}


    <section class="list__section -notices">
        <div class="cf"></div>
        <ul class="list">
            {{#unless items}}
            <h2 class="-pad-top">Sorry there aren't any notices to show you at the moment. Please try another filter above or come back soon.</h2>
            {{/unless}}
			{{#each item in items}}
            <li class="list__row dotted-area -bottom -dark -pad-top">
                <div class="list-item">
                    <h2 class="list-item__summary" title="">
                        <span class="v-align--middle">
                            {{item.proposal}} at {{item.fullAddressSingleLine}}.
                        </span>
                    </h2>
                    <div class="btn-list -borderless">
                        <div class="btn -white -inactive">
                            <span class="v-align--middle -pad-left -pad-right">
                                <span class="-delta">Publication date:</span>
                                <h2 class="float--right">{{format-date "DD/MM/YYYY" item.publicationdate}}</h2>
                            </span>
                        </div>
                        <div class="btn -dark -inactive svg-stat-notices-icon-planning">
                            <span class="v-align--middle text--center">
                                {{item.type}}
                            </span>
                        </div>
<!--                        <div class="btn -blue text--center">-->
                            {{#link-to 'statnotices.view' item classNames="btn -blue text--center"}}
                                <span class="v-align--middle">
                                    View Notice
                                </span>
                            {{/link-to}}
<!--                        </div>-->
                    </div>
                </div>
            </li>
			{{/each}}
        </ul>
    </section>
	{{yield}}
</div>
