{{#stories/story-base title=title subTitle=subTitle color="-black" width="-w2" height="-h2" data-ss-colspan="2"}}
<main class="footfall-centre">
    
    <div class="dotted-area -top -bottom -pad-top -pad-bottom">
        <p>Footfall this week was up notably from last week, thanks to the school holidays and the lovely weather we’ve been enjoying.</p>
    </div>

    <!--<div>
        {{
            select-2
            content=months
            value=selectedMonth
            placeholder="Choose a month"
            cssClass="hebe-select-2"
        }}
    </div>

    {{#if days}}
        <div>
            {{
                select-2
                content=days.items
                value=selectedDay
                placeholder="Choose a day"
                optionLabelPath="title"
                cssClass="hebe-select-2"
            }}
        </div>
    
        {{#if selectedDay.items}}
            <table class="footfall-centre__table">
                {{#each location in selectedDay.items}}
                    <tr><td>{{location.title}}</td><td>{{location.total}}</td></tr>
                {{/each}}
            </table>
        {{/if}}
    {{else}}
        {{loading-icon}}    
    {{/if}}-->
</main>
{{/stories/story-base}}
