<h1 class="js-canvas-heading canvas-heading">The Leeds Overview</h1>
<div class="js-canvas canvas">
    <a href="javascript:;" class="js-canvas-overlay canvas__overlay"></a>
    <div class="js-stories canvas__inner">

        {{#each story in stories}}
            {{component story.storyType config=story.config}}
        {{/each}}-->

        {{stories/complete/bicycle-bays}}
        {{stories/complete/lcc-enquiries}}
        {{stories/complete/clock-face}}
        {{stories/complete/development-story}}
        {{stories/complete/leeds-inspired}}        
        {{stories/complete/river-levels}}
        {{stories/complete/instagram-local}}
        {{stories/complete/carpark-spaces}}
        {{stories/complete/space-station}}
        {{stories/story-house-prices}}
        {{stories/complete/city-talking}}
        {{stories/complete/footfall-centre}}
        
<!--
        {{stories/complete/chart-test}}
        {{stories/complete/c3-test}}
        {{stories/complete/line-chart-test}}
        {{stories/complete/multi-chart-test}}
-->


<!--
       
        <div class="js-story story -w2 -h2 -white">
            <div class="story__inner">
                <div class="story__card -front" style="background-size: contain; background-image: url('/assets/img/bg_leedsparkrun.png'); background-position: center center; background-repeat: no-repeat; background-color: #fff;">
                    <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    <div class="story__content">
                        
                    </div>
                </div>
                <div class="story__card -back">
                    <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    <div class="story__content">
                        
                    </div>
                </div>
            </div>
        </div>-->
        
        <div class="js-story story -w1 -h1 story--add">
            <a href="javascript:;" class="js-add-story story__inner"><span class="icon-plus svg-plus" data-grunticon-embed></span>Add a new story</a>
        </div>
    </div>
</div>
