<div class="js-canvas canvas">
    <a href="javascript:;" class="js-canvas-overlay canvas__overlay"></a>
    <div class="js-stories canvas__inner">

        {{stories/complete/city-talking}}
        {{stories/complete/chart-test}}
        {{stories/complete/c3-test}}
        {{stories/complete/line-chart-test}}
        {{stories/complete/multi-chart-test}}

        <div class="js-story story -w1 -h2 -black">
            <div class="story__inner">
                <div class="story__card -front" style="background-size: contain; background-image: url('/assets/img/bg_lufc.png'); background-position: center center; background-repeat: no-repeat; background-color: #000;">
                    <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    <div class="story__content">
                        
                    </div>
                </div>
                <div class="story__card -back">
                    <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    <div class="story__content">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="js-story story -w2 -h2 -white" data-ss-colspan="2">
            <div class="story__inner">
                <div class="story__card -front">
                    <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    <div class="story__content">
                        
                    </div>
                </div>
                <div class="story__card -back">
                    <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    <div class="story__content">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="js-story story -w2 -h2 -ivory" data-ss-colspan="2">
            <div class="story__inner">
                <div class="story__card -front">
                    <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    <div class="story__content">
                        <header>
                            <h2 class="heading">Leeds inspired</h2>
                            <h3 class="heading -delta">Music &amp; art events around Leeds.</h3>
                        </header>
                        <ul class="js-story-carousel story__carousel">
                            <li>
                                <main class="event">
                                    <div class="image -wide">
                                        <a href="javascript:;"><img src="assets/img/testimgs/leedsinspired.png" alt="Leeds Inspired" width="290" height="87"/></a>
                                    </div>
                                    <h2 class="heading"><a href="javascript:;">Gruff Rhys + Gwenno</a></h2>
                                    <div class="event__details">
                                        <time class="event__datetime">17th February 2015 7:30pm</time>
                                        <div class="event__address">
                                            <em>The Brudenell Social Club</em><br/>
                                            33 Queen's Road, Leeds, LS6 1NY
                                        </div>
                                    </div>
                                    <p>Gruff, who is currently embarking on his US tour, will also be joined by a full band for his UK dates&hellip;</p>
                                </main>
                            </li>
                            <li>
                                <main class="event">
                                    <div class="image -wide">
                                        <a href="javascript:;"><img src="assets/img/testimgs/leedsinspired.png" alt="Leeds Inspired" width="290" height="87"/></a>
                                    </div>
                                    <h2 class="heading"><a href="javascript:;">Gruff Rhys + Gwenno</a></h2>
                                    <div class="event__details">
                                        <time class="event__datetime">17th February 2015 7:30pm</time>
                                        <div class="event__address">
                                            <em>The Brudenell Social Club</em><br/>
                                            33 Queen's Road, Leeds, LS6 1NY
                                        </div>
                                    </div>
                                    <p>Gruff, who is currently embarking on his US tour, will also be joined by a full band for his UK dates&hellip;</p>
                                </main>
                            </li>
                            <li>
                                <main class="event">
                                    <div class="image -wide">
                                        <a href="javascript:;"><img src="assets/img/testimgs/leedsinspired.png" alt="Leeds Inspired" width="290" height="87"/></a>
                                    </div>
                                    <h2 class="heading"><a href="javascript:;">Gruff Rhys + Gwenno</a></h2>
                                    <div class="event__details">
                                        <time class="event__datetime">17th February 2015 7:30pm</time>
                                        <div class="event__address">
                                            <em>The Brudenell Social Club</em><br/>
                                            33 Queen's Road, Leeds, LS6 1NY
                                        </div>
                                    </div>
                                    <p>Gruff, who is currently embarking on his US tour, will also be joined by a full band for his UK dates&hellip;</p>
                                </main>
                            </li>
                        </ul>
                        <footer class="story__footer">
                            <span class="pg-of">Page <span class="pg-of__x">1</span> of <span class="pg-of__y">1</span></span>
                            <!--<img src="assets/img/testimgs/leedsinspired/logo.png" alt="Leeds Inspired" width="50" height="19"/>-->
                            <div class="carousel-pager">
                                <button class="carousel-pager__btn -prev">Prev</button>
                                <div class="carousel-pager__numbers"></div>
                                <button class="carousel-pager__btn -next">Next</button>
                            </div>
                        </footer>
                    </div>
                </div>
                <div class="story__card -back">
                    <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    <div class="story__content">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="js-story story -w2 -h1 -black">
            <div class="story__inner">
                <div class="story__card -front" style="background-size: contain; background-image: url('/assets/img/bg_weather.png'); background-position: center center; background-repeat: no-repeat; background-color: #000;">
                    <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    <div class="story__content">
                        
                    </div>
                </div>
                <div class="story__card -back">
                    <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    <div class="story__content">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="js-story story -w2 -h2 -white">
            <div class="story__inner">
                <div class="story__card -front" style="background-size: contain; background-image: url('/assets/img/bg_leedsparkrun.png'); background-position: center center; background-repeat: no-repeat; background-color: #fff;">
                    <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    <div class="story__content">
                        
                    </div>
                </div>
                <div class="story__card -back">
                    <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    <div class="story__content">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="js-story story -w2 -h2 -white">
            <div class="story__inner">
                <div class="story__card -front">
                    <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    <div class="story__content">
                        
                    </div>
                </div>
                <div class="story__card -back">
                    <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    <div class="story__content">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="js-story story -w1 -h1 story--add">
            <a href="javascript:;" class="js-add-story story__inner"><span class="icon-plus svg-plus" data-grunticon-embed></span>Add a new story</a>
        </div>
    </div>
</div>
