<h1 class="js-canvas-heading canvas-heading">The Leeds Overview</h1>
<div class="js-canvas canvas">
    <a href="javascript:;" class="js-canvas-overlay canvas__overlay"></a>
    <div class="js-stories canvas__inner">

        {{!-- Yorkshire Water Stories --}}
        {{#stories/complete/saving-water-key-facts width="-w1" height="-h1"}}
            Using a washing up bowl could save you <strong>£30</strong> a year
        {{/stories/complete/saving-water-key-facts }}
        {{ stories/complete/compare-water-quality }}
        {{ stories/complete/river-levels }}
        {{stories/complete/full-size-image url="https://www.savewatersavemoney.co.uk/yorkshire/free-water-saving-products" image="/assets/img/YorkshireWaterSavingPackLink.jpg"}}
        {{#stories/complete/saving-water-key-facts width="-w1" height="-h1"}}
            Putting a full load in the washing machine can save you up to <strong>£15</strong> a year
        {{/stories/complete/saving-water-key-facts }}
        {{#stories/complete/saving-water-key-facts width="-w1" height="-h1"}}
            Fixing that dripping tap could save <strong>£18</strong> a year
        {{/stories/complete/saving-water-key-facts }}
        {{#stories/complete/saving-water-key-facts width="-w1" height="-h1"}}
            Only boiling the amount of water you need could save <strong>£7</strong> a year
        {{/stories/complete/saving-water-key-facts }}
        {{#stories/complete/saving-water-key-facts width="-w1" height="-h1"}}
            Spending 1 minute less in the shower could save <strong>£100</strong> a year
        {{/stories/complete/saving-water-key-facts }}
        {{#stories/complete/saving-water-key-facts width="-w1" height="-h1"}}
            Using a water efficient showerhead could save <strong>£160</strong> a year
        {{/stories/complete/saving-water-key-facts }}
        {{ stories/complete/river-level-stations }}
        {{#stories/complete/saving-water-key-facts width="-w1" height="-h1"}}
            Fitting a dual flush toilet mechanism could save <strong>£150</strong> a year
        {{/stories/complete/saving-water-key-facts }}
        {{ stories/complete/water-metering-chart }}
        {{#stories/complete/saving-water-key-facts width="-w1" height="-h1"}}
            Using a watering can instead of a hose could save <strong>£15</strong> a year
        {{/stories/complete/saving-water-key-facts }}
        {{#stories/complete/saving-water-key-facts width="-w1" height="-h1"}}
            Using all the suggested tips, a family of 4 would save <strong>£49</strong>
        {{/stories/complete/saving-water-key-facts }}
{{!--
        <div class="js-story story -w1 -h1 story--add">
            <a href="javascript:;" class="js-add-story story__inner"><span class="icon-plus svg-plus" data-grunticon-embed></span>Add a new story</a>
        </div>
--}}
    </div>
</div>
