{{#stories/story-base 
    title="Leeds Inspired" 
    subTitle="Music & art events around Leeds." 
    color="-ivory" 
    width="-w2" 
    height="-h2" 
    data-ss-colspan="2"
    dataSourceUrl="http://api.leedsinspired.co.uk"
    feedbackEmail="nathan@hebeworks.com"
    description="This Story uses data from the Leeds Inspired API"
    license="Open Government License"
    author="Nathan Smith"
    }}
    {{#stories/story-slider loaded=loaded}}
        {{#each item in items}}
            {{#stories/story-slide}}
            <main class="event">
                <div class="image">
                    <a href="javascript:;" style="background-image: url({{item.thumbnail}});" title="{{item.title}}">Image</a>
                </div>
                <h2 class="heading"><a href="javascript:;">{{item.title}}</a></h2>
                <div class="event__details">
                    <time class="event__datetime">{{item.date}}</time>
                    <div class="event__address">
                        <em>{{item.place}}</em>
                    </div>
                </div>
                <p>{{item.description}}</p>
            </main>
            {{/stories/story-slide}}
        {{/each}}
    {{/stories/story-slider}}
    {{yield}}    
{{/stories/story-base}}
