{{yield}}
<main class="house-prices">
    <div class="image">
        <span {{bind-attr class="svgClass"}} data-grunticon-embed></span>
    </div>
    <div class="house-prices__info">
        <h2 class="heading">{{houseType}}</h2>
        <p class="house-prices__price">&pound;{{total}}</p>
        <p class="house-prices_sub-price">Monthly Change {{monthlyChange}}</p>
    </div>

    <p class="house-prices_summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer odio purus, pellentesque non fermentum at. </p>
    
    <table class="house-prices__breakdown">
        <thead>
        <td>Most Valuable Postcode</td>
        <td>Houses sold this year</td>
        <td>% total</td></thead>
        <tr>
            <td>LS23</td>
            <td>814</td>
            <td>24%</td>
        </tr>
        <tr>
            <td>LS23</td>
            <td>814</td>
            <td>24%</td>
        </tr>
        <tr>
            <td>LS23</td>
            <td>814</td>
            <td>24%</td>
        </tr>
    </table>
</main>
