
{{#stories/story-base 
    title=title 
    subTitle=subTitle 
	color="-dark-blue" 
    width="-w4" 
    height="-h4" 
    data-ss-colspan="2"}}
    <main class="compare-water-quality">
        
        
      
        <article class="compare-water-quality__result">
            {{input value=postcode1}}
            <h3 class="-delta">RESULT 1: {{result1.location.postcode}}</h3>
            <ul>
                {{#each prop in result1.props}}
                    <li>{{prop.name}}: {{prop.value}}</li>
                {{/each}}
            </ul>
        </article>
        <article class="compare-water-quality__result">
            {{input value=postcode2}}
            <h3 class="-delta">RESULT 2: {{result2.location.postcode}}</h3>
            <ul>
                {{#each prop in result2.props}}
                    <li>{{prop.name}}: {{prop.value}}</li>
                {{/each}}
            </ul>
        </article>
    </main>
{{/stories/story-base}}
