{{#stories/story-base title=title subTitle=subTitle color="-white" width="-w2" height="-h2" data-ss-colspan="2"}}
<main class="lcc-enquiries">
    <div>
        {{
            select-2
            content=months
            value=selectedMonth
            placeholder="Choose a month"
            cssClass="hebe-select-2"

            dataSourceUrl="http://www.leedsdatamill.org"
            feedbackEmail="info@leedsdatamill.org"
            description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at convallis nulla."
            license="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at convallis nulla."
            author="Roomman"
        }}
    </div>

    <h3 class="-alpha">Total Enquiries: {{totalEnquiries}}</h3>
      {{#stories/story-slider loaded=loaded}}
            {{#stories/story-slide}}
                <table class="lcc-enquiries__table">
                    <thead>
                        <td>Most enquiries by postcode</td>
                        <td>No. enquiries</td>
                        <td>% total</td>
                    </thead>
                    <tbody>
                        {{#each item in topPostcodes}}
                            <tr><td>{{item.postcode}}</td><td>{{item.total}}</td><td>{{item.percentage}}%</td></tr>
                        {{/each}}
                    </tbody>
                </table>
            {{/stories/story-slide}}
            {{#stories/story-slide}}
                <table class="lcc-enquiries__table">
                    <thead>
                        <td>Most Contacted Services</td>
                        <td>No. enquiries</td>
                        <td>% total</td>
                    </thead>
                    <tbody>
                        {{#each item in topEnquiries}}
                            <tr><td>{{item.enquiry}}</td><td>{{item.total}}</td><td>{{item.percentage}}%</td></tr>
                        {{/each}}
                    </tbody>
                </table>
            {{/stories/story-slide}}
        {{/stories/story-slider}}
</main>
{{/stories/story-base}}
